<packages>
  <package id="baregrep" version="3.50.0.20120225" />
  <package id="chocolatey" version="2.5.1" />
  <package id="chocolatey-compatibility.extension" version="1.0.0" />
  <package id="chocolatey-core.extension" version="1.4.0" />
  <package id="chocolatey-dotnetfx.extension" version="1.0.1" />
  <package id="chocolatey-visualstudio.extension" version="1.13.0" />
  <package id="cursoride" version="2.1.39" />
  <package id="dotnetfx" version="4.8.0.20220524" />
  <package id="git" version="2.52.0" />
  <package id="git.install" version="2.52.0" />
  <package id="KB2919355" version="1.0.20160915" />
  <package id="KB2919442" version="1.0.20160915" />
  <package id="netfx-4.7.2" version="4.7.2.0" />
  <package id="netfx-4.7.2-devpack" version="4.7.2.20210903" />
  <package id="visualstudio2022buildtools" version="117.14.21" />
  <package id="visualstudio-installer" version="2.0.7" />
  <package id="vscode" version="1.106.3" />
  <package id="vscode.install" version="1.106.3" />
</packages>